
 
.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto auto auto auto;
    grid-template-areas:
    "nav"
    "header"
    "main"
    "footer";
}

header{
    background-image: url(images/current.png);
}

